---
import { format as formatDate } from 'date-fns';
import { renderToString } from 'react-dom/server';

import Layout from '../components/layout-base.astro';
import Schema from '../components/schema.astro';
import { abossClient } from '../lib/aboss';
import { socials } from '../lib/socials';

const shows = await abossClient.publicEvents({ from: new Date() })
  .then((shows) => (
    // Temporarily filter out old shows manually until I figure out how to use
    // from search parameter
    shows.filter(({ start }) => new Date(start).getTime() > Date.now())
  ));

---

<Schema />

<Layout>
  <main>
    <header>
      <h1>
        <span class="visually-hidden">Loupe</span>
      </h1>
    </header>

    <nav class="socials" aria-label="Socials">
      <ul>
        {socials.map(({ name, href, Icon }) => (
          <li>
            <a href={href} title={name}>
              {renderToString(Icon({ 'aria-hidden': 'true' } as any))}
              <span class="visually-hidden">{name}</span>
            </a>
          </li>
        ))}
      </ul>
    </nav>

    <section class="shows">
      {shows.map(({ location, occupancyRate, start, ticketLink, title }) => (
        <article>
          <time datetime={start}>{formatDate(new Date(start), 'dd MMM')}</time>

          <div>
            <h2>{title}</h2>
            <div class="venue">{location.city}, {location.country}</div>

            {occupancyRate === 100 && (
              <div class="sold-out">Sold Out</div>
            )}

            {ticketLink.length > 0 && (
              <a href={ticketLink}>Get Tickets</a>
            )}
          </div>
        </article>
      ))}
    </section>

    <footer>
      <strong>General inquiries:</strong>
      <a href="mailto:info@thisisloupe.com">info@thisisloupe.com</a>

      <strong>Management:</strong>
      <a href="mailto:joris@attacknrelease.com">joris@attacknrelease.com</a>
      <a href="mailto:martijn@attacknrelease.com">martijn@attacknrelease.com</a>
    </footer>
  </main>
</Layout>

<style lang="scss">
  main {
    display: flex;
    width: 40vw;
    width: clamp(30ch, 40vw, 50ch);
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
  }

  header {
    position: relative;
    padding-top: 76.34%;

    h1 {
      position: absolute;
      inset: 0;
    }

    @supports(aspect-ratio: 1.31) {
      padding-top: 0;

      h1 {
        position: static;
        aspect-ratio: 1.31;
      }
    }

    h1 {
      background: url('/sky.jpg') no-repeat;
      background-size: cover;
      mask: url('/logo.svg');
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }

  .socials {
    ul {
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      font-size: 2rem;
      list-style: none;
    }
  
    a {
      display: grid;
      border-radius: 50%;
      place-content: center;
    }
  }

  .shows {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: -1rem;

    article {
      --border-radius: 0.25rem;

      position: relative;
      display: grid;
      border-radius: var(--border-radius);
      gap: 1rem;
      grid: auto-flow / min-content 1fr;

      > div,
      time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem 1rem;
        border: 1px solid hsl(0, 0%, 90%);
        border-radius: var(--border-radius);
      }

      time {
        text-align: center;
      }

      h2 {
        font-size: 1rem;
      }

      .sold-out {
        opacity: 0.5;
        text-decoration: line-through;
      }

      a:focus {
        outline: none;
      }

      &:focus-within {
        outline: 2px dashed;
        outline-offset: 0.2rem;
      }

      a::after {
        position: absolute;
        content: '';
        inset: 0;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    strong {
      margin-top: 1rem;
      margin-bottom: -0.5rem;
    }

    a {
      border-radius: 0.125rem;
    }
  }

</style>